@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-calender {
    height: 50vh;
}

.react-calendar__tile--highlight {
    background: #469477 !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
